footer {
    // background-color: #40474e;
    text-align: center;
    background-size: cover;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

//   footer .row {
//     padding: 1.5rem 0 4rem;
//     line-height: 2rem;
//   }
//   footer img {
//     margin: 1.5rem 0;
//   }
//   footer h3 {
//     margin: 1.5rem 0;
//   }