.container {
  max-width: 960px;
}

.lh-condensed {
  line-height: 1.25;
}

.cart-item {
  position: relative;

  >div {
    display: inline-block;
  }

  &-content {}

  &-price {
    right: 15px;
    position: absolute;
    top: 15px;


    &--green {}

    &--red {}
  }
}